<!DOCTYPE html>
<html>
<head>
  <title>Wallace & Grommit dancing school</title>
  <%= stylesheet_link_tag 'student'%>
  <%= csrf_meta_tag %>
</head>
<body class="degradado">
  <div style="position: relative; background: #CCDDCC; height: 8%; width: 20%; left: 42%; top: 1%; border-radius: 15px;">
    <h2>STUDENTS</h2>
  </div>  
  <%= yield %>
</body>
</html>
